O consumo excessivo de álcool é um problema grave de saúde pública, você não acha? Imagine que você é um cientista de dados trabalhando em uma equipe da Organização Mundial da Saúde (OMS), cujo objetivo é desenvolver relatórios sobre o consumo de álcool no mundo.

Foram coletados dados de diferentes países, indicando o consumo de cerveja (beer), licor (spirit) e vinho (wine), e o consumo de litros de álcool por pessoa do país no ano de 2010. Seu trabalho, então, é responder a algumas perguntas sobre os dados que irão ajudar a compor o relatório.

1.   Qual a média e desvio padrão do consumo de cerveja, licor, vinho e total de álcool?
1.   Qual o consumo de licor na França?
1.   Quais os 5 países nos quais se consome mais vinho?
1.   Quais os países nos quais o consumo de cerveja está acima da média?
1.   Quais países nos quais o consumo total de álcool está acima do Brasil, em ordem do menor para o maior?

Para responder a essas questões, você deve usar os dados disponibilizados nesta página:
[
dados.](https://d11s0xq1vqg039.cloudfront.net/videos_conteudo/visual/micro01/oficina/arquivos/dadosoficina01.txt)

Baixe o conjunto de dados, selecionando o link e clicando com o botão direito do mouse ou usando a tecla Aplicação. Então, escolha a opção “Salvar como…”, e salve o arquivo com o nome drinks.txt. Na mesma pasta em que você salvou os dados, crie um Jupyter Notebook, importe a biblioteca pandas e carregue os dados com os comandos abaixo.

In [10]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/evelynsantos/data/589ff087bc8f69677fc20c6e6efe99ded01d0c95/alcohol-consumption/drinks.csv')
msg=("\n")

In [9]:
df.head(10)

             country  ...  total_litres_of_pure_alcohol
0        Afghanistan  ...                           0.0
1            Albania  ...                           4.9
2            Algeria  ...                           0.7
3            Andorra  ...                          12.4
4             Angola  ...                           5.9
5  Antigua & Barbuda  ...                           4.9
6          Argentina  ...                           8.3
7            Armenia  ...                           3.8
8          Australia  ...                          10.4
9            Austria  ...                           9.7

[10 rows x 5 columns]

In [59]:
#Question 1
print('''A média do consumo de cerveja, licor, vinho e total de álcool é consecutivamente
\n{}\n\nO desvio padrão é \n{}'''.format(df.mean(), df.std()))

A média do consumo de cerveja, licor, vinho e total de álcool é consecutivamente

beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64

O desvio padrão é
beer_servings                   101.143103
spirit_servings                  88.284312
wine_servings                    79.697598
total_litres_of_pure_alcohol      3.773298
dtype: float64

In [60]:
#Question 2
df_spirit_fr = df[df['country'] == 'France']
print('O consumo de licor na França é de {} l/ano'.format(df_spirit_fr['spirit_servings'].values))

O consumo de licor na França é de [151] l/ano

In [61]:
#Question 3
print('Os 5 países que mais consomem vinho são')
df.sort_values(by='wine_servings', ascending = False).head(5)

Os 5 países que mais consomem vinho são

         country  beer_servings  ...  wine_servings  total_litres_of_pure_alcohol
61        France            127  ...            370                          11.8
136     Portugal            194  ...            339                          11.0
3        Andorra            245  ...            312                          12.4
166  Switzerland            185  ...            280                          10.2
48       Denmark            224  ...            278                          10.4

[5 rows x 5 columns]

In [84]:
#Question 4
mean_beer = df['beer_servings'].mean()
print(f'Os países que tem consumo acima da média({mean_beer:.2f}) são \n ')
df[df['beer_servings'] > mean_beer].sort_values(by='beer_servings', ascending=False).country

Os países que tem consumo acima da média(106.16) são

117                         Namibia
45                   Czech Republic
62                            Gabon
65                          Germany
135                          Poland
                   ...
11                          Bahamas
145    St. Vincent & the Grenadines
185                         Uruguay
189                         Vietnam
139                         Moldova
Name: country, Length: 76, dtype: object

In [103]:
br

   country  beer_servings  ...  wine_servings  total_litres_of_pure_alcohol
23  Brazil            245  ...             16                           7.2

[1 rows x 5 columns]

In [126]:
#Question 5

df_br_alcohol = df[df['country'] == 'Brazil']
df[df['total_litres_of_pure_alcohol'] > df_br_alcohol['total_litres_of_pure_alcohol'].mean()].sort_values(by='total_litres_of_pure_alcohol', ascending = True)

                country  ...  total_litres_of_pure_alcohol
132            Paraguay  ...                           7.3
35                Chile  ...                           7.6
188           Venezuela  ...                           7.7
143   St. Kitts & Nevis  ...                           7.7
159        South Africa  ...                           8.2
32               Canada  ...                           8.2
44               Cyprus  ...                           8.2
6             Argentina  ...                           8.3
179                 NaN  ...                           8.3
67               Greece  ...                           8.3
184                 USA  ...                           8.7
62                Gabon  ...                           8.9
180             Ukraine  ...                           8.9
124                 NaN  ...                           9.1
121         New Zealand  ...                           9.3
120         Netherlands  ...                           9.4
57              Estonia  ...                           9.5
151              Serbia  ...                           9.6
9               Austria  ...                           9.7
138         South Korea  ...                           9.8
60              Finland  ...                          10.0
160               Spain  ...                          10.0
144           St. Lucia  ...                          10.1
166         Switzerland  ...                          10.2
42              Croatia  ...                          10.2
25             Bulgaria  ...                          10.3
8             Australia  ...                          10.4
140             Romania  ...                          10.4
182      United Kingdom  ...                          10.4
48              Denmark  ...                          10.4
16              Belgium  ...                          10.5
93               Latvia  ...                          10.5
156            Slovenia  ...                          10.6
135              Poland  ...                          10.9
136            Portugal  ...                          11.0
75              Hungary  ...                          11.3
65              Germany  ...                          11.3
99           Luxembourg  ...                          11.4
155            Slovakia  ...                          11.4
81              Ireland  ...                          11.4
141  Russian Federation  ...                          11.5
45       Czech Republic  ...                          11.8
61               France  ...                          11.8
68              Grenada  ...                          11.9
3               Andorra  ...                          12.4
98            Lithuania  ...                          12.9
15              Belarus  ...                          14.4

[47 rows x 5 columns]